<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WordCountMR/src/com/test/nikhil/mr/WordCountJob.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.test.nikhil.mr.WordCountJob"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WordCountMR"/>
</launchConfiguration>
